/* Global (betrifft alle Seiten)

/* Schriftarten */
body {
  font-family: Ubuntu, sans-serif;
  color: black;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}


@media only screen and (max-width: 300px) {
  p {
    font-size: .75rem;
  }
  h1 {
    font-size: 1.25rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
}


/* Aufbau */
.section-a {
  background: linear-gradient(to right, #a1acfe, #ffffff, #f5a2fe);
  padding: 1,25rem;
}

.section-a > .container {
  padding: 3rem;
}

.section-b {
  transform: translateY(-15%);
  display: block;
  text-align: center;
}

.section-contact {
  transform: translateY(-10%);
  display: block;
  text-align: center;
}


/* Navigationsleiste */

/* Menü */
.dropdown-menu {
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
  padding: .5rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  outline: none;
  border: none;
  border-radius: .5rem;
}

.dropdown-menu>li {
  margin-bottom: .5rem;
}

.dropdown-menu>li:last-of-type {
  margin-bottom: 0;
}

.dropdown-item {
  border-radius: .5rem;
  background-color: transparent;
  padding-left: .5rem;
  padding-right: .5rem;
}

.dropdown-item>i {
  margin-right: .5rem;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  padding: .25rem;
  border-radius: 50rem;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  color: black;
}

/* Logo */
.logo {
  width: 3rem;
  height: 3rem;
  border-radius: .5rem;
  background: #8e99ff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Button-Properties */
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent;
}

/* Container */
.container-sm {
  background: white;
  border-color: white;
  border-style: solid;
  border-width: .1rem;
  border-radius: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}

/* Fußleiste */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e4e4e4;
  color: black;
  text-align:left;
}

.footertext{
  font-family: Ubuntu, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}


/* Lokal (betrifft nur eine Seite)*/

/* Hompage */

/* Schriftgrößen */
@media only screen and (max-width: 370px) {
  .tab {
    font-size: .75rem;
  }
  .intab-button {
    font-size: 0;
  }
  }

  @media only screen and (max-width: 290px) {
    .tab {
      font-size: .5rem;
    }
    .intab-button {
      font-size: 0;
    }
    }

 /* Tab-System */
.tab {
  padding: .2rem 0 .5rem 0;
}

.tablinks {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: .5rem;
  padding: 1rem .5rem 1rem .5rem;
}

.tablinks:hover,
.tablinks.active {
  color: black;
  font-weight: 1rem;
}

.tabcontent {
  display: none;
  padding-bottom: .8rem;
}

.intab-button {
  border-radius: .7rem;
  background: transparent;
  box-shadow: inset 0 0 0 2px rgba(189, 189, 189);
  color: black;
}

.intab-button:hover,
.intab-button.active {
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1);
  color: black;
}


/* Kontakt */
.padding {
  padding: 1rem 1rem 1rem 1rem;
}

/* Submit-Button */
.submit-button {
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  color: black;
}

.submit-button:hover,
.submit-button.active {
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 1px black;
  color: black;
}





