html {
  height: 100%;
  background: white;
}

body {
  font-family: Ubuntu, sans-serif;
  color: black;
  height: 50%;
  background: white;
  background: linear-gradient(to right, #a1acfe, #d9dcff, #ffffff, #f9d2ff, #f5a2fe);
  background-repeat: repeat-x;
  background-size: auto;
}

/* Navigation */
.dropdown-menu {
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);
  padding: .5rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  /* All the borders by using the spread properties */
  outline: none;
  border: none;
  border-radius: .5rem;
}

.dropdown-menu>li {
  margin-bottom: .5rem;
}

.dropdown-menu>li:last-of-type {
  margin-bottom: 0;
}

.dropdown-item {
  border-radius: .5rem;
  background-color: transparent;
  padding-left: .5rem;
  padding-right: .5rem;
}

.dropdown-item>i {
  margin-right: .5rem;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  padding: .25rem;
  border-radius: 50rem;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25);
  color: black;
}

.logo {
  width: 3rem;
  height: 3rem;
  border-radius: .5rem;
  background: #8e99ff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.navbar-controller {
  position: sticky;
  border-bottom: 1px solid white;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent;
}

/* Navigation Ende */


/* Homepage Funktionalität */
.container-sm {
  background: white;
  border-radius: 1.5rem;
  border-color: white;
  border-width: .1rem;
  border-style: solid;
  box-shadow: .8rem .8rem .8rem silver;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.tab {
  padding: .2rem 0 .5rem 0;
}

.tablinks {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: .5rem;
  padding: 1rem .5rem 1rem .5rem;
}

.tablinks:hover,
.tablinks.active {
  color: black;
  font-weight: 1rem;
}

.tabcontent {
  display: none;
  padding-bottom: .8rem;
}

.intab-button {
  border-radius: .7rem;
  background: transparent;
  width: 7rem;
  height: 7rem;
}

.intab-button-defect {
  border-radius: .7rem;
  background: transparent;
  width: 7rem;
  height: 7rem;
}

.intab-button:hover,
.intab-button.active {
  background-color: rgba(255, 255, 255, .25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1);
  color: black;
}
/* Homepage Funktionalität Ende */


/* Kontakt Funktionalität */
.name-field {
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  padding: 4px;
  outline: none;
  border-radius: 20px;
}

.mail-field {
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  padding: 4px;
  outline: none;
  border-radius: 20px;
}

.message-field {
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  padding: 4px;
  outline: none;
  border-radius: 20px;
}

/* Kontakt Funktionalität Ende */