html{
    height:100%;
    background:white;
}

body {    
    font-family: Ubuntu;
    background-color:white;
    color:black;
    height:50%;
    background: linear-gradient(to right,#a1acfe,#d9dcff,#ffffff,#f9d2ff,#f5a2fe);
    background-repeat: repeat-x;
    background-size: auto;
}

.dropdown-item:hover{
    background-color: #f5a2fe;
    border-radius: 7%;
}

hr {
    height:2px;
    border-width:0;
    background:white;
}


.logo {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background: #8e99ff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
  




